html, body {
	max-width: 1023px;
	padding: 0;
	margin: auto;
	background-color: #ffffff;
	font-family: sans-serif;
	}

a {
	color: #419DC5;
	border-bottom: 3px #0E7BA3 dotted;
	text-decoration: none;
}

header {
	border-bottom: 1px #000000 solid;
	top: 0px;
	width: 100%;
	max-width: 1023px;
	/*height: 40px;*/
	background-color: #333333;
	}

h1#launcher {display: none}

#quick {
	position: absolute;
	right: 0px;
	top: 10px;
	}

#quick > h2 {
	margin-left: 15px;
	}

#quick > h2 > a {
	color: #657FAB;
}

h1 { font-size: 1.5em }

h1 > a {
	color: #ffffff;
	border-bottom: none;
}

h1, h2 {
	display: inline;
	}

nav {
	color: #fff;
	background-color: #419DC5;
	border: 1px solid #0E7BA3;
	}

ul { 
	padding: 0px 0px 0px 40px;
	margin: 16px 0px;
	}

.colonne {
	list-style-type:none;
	}
#corpus {
	/*margin-top: 50px;*/
	clear: none;
	padding: 15px;
	}

h5 { color: #0E7BA3 }

h4 { color: #419DC5 }

p {
	text-align: justify;
	width: 100%;
	}

footer {
	background-color: #333333;
	padding: 5px;
	bottom: 0px;
	color: #ffffff;
}
